---
import Link from './Link.astro'

interface LinkItem {
	icon: string
	title: string
	description: string
	url: string
}

interface Props {
	links: LinkItem[]
}

const { links } = Astro.props
---

<div class="list" id="list">
	{
		links.map((item, index) => (
			<div class="list-item" style={`animation-delay: ${300 + index * 100}ms`}>
				<Link icon={item.icon} title={item.title} description={item.description} url={item.url} />
			</div>
		))
	}
</div>

<style>
	.list {
		margin-top: 3rem;
		display: grid;
		gap: 1rem;
		padding-bottom: 4rem;
	}

	.list-item {
		animation: fadeInUp var(--transition-slow) ease-out backwards;
	}
</style>
