---
import Link from './Link.astro'
import * as dataList from '../data/user.json'

const items = dataList.links
---

<div class="list" id="list">
	{
		items.map((item, index) => {
			return (
				<div class="list-item" style={`animation-delay: ${300 + index * 100}ms`}>
					<Link icon={item.icon} title={item.title} description={item.description} url={item.url} />
				</div>
			)
		})
	}
</div>

<style>
	.list {
		margin-top: 3rem;
		display: grid;
		gap: 1rem;
		padding-bottom: 4rem;
	}

	.list-item {
		animation: fadeInUp var(--transition-slow) ease-out backwards;
	}
</style>
