name: Deploy
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            export FNM_PATH="/home/${{ secrets.VPS_USERNAME }}/.local/share/fnm"
            export PATH="/home/${{ secrets.VPS_USERNAME }}/.local/share/fnm:$PATH"
            eval "`fnm env`"

            cd ${{ secrets.VPS_ROOT_FOLDER }}

            git pull

            npm install
            npm run build
